body {
  background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/ignasi_pattern_s.png");
}

.container {
  font-size: 16px;
}

.header, .results {
  text-align: center;
}

.questions p {
  font-size: 18px;
  text-align: center;
}

.radio {
  margin-left: 45%;
}

.swedenimg, .seychellesimg, .freiburgimg {
  max-height: 800px;
  max-width: 600px;
}

#question1, #question2, #question3, #question4, #question5, #swedenResult, #seychellesResult, #freiburgResult, .redo {
  display: none;
}
